<div class="container">
  <form>
    <div class="form-group">
      <h1 class="text-center text-primary">Troy Peters Simple Adder</h1>
      <div class="input-group-prepend">
        <input type="text" #var1 class="form-control" placeholder="Enter a number" name="var1" ngModel>
        <input type="text" #var2 class="form-control" placeholder="Enter a number" name="var2" ngModel>
		<span class="input-group-text" #output (click)="addVals(var1.value, var2.value)">Add</span>
	  </div>
    </div>
  </form>
</div>
